[build]
builder = "NIXPACKS"
buildCommand = "npm run build --workspace=shared && npm run build --workspace=client && npm run build --workspace=server && npm run build --workspace=tools/asset_pipeline"

[deploy]
startCommand = "npm run start"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
